body {
    margin: auto;
    font-size: clamp(24px, 5vw, 47px); /* Clean Code: clamp(min, preferowana, max) */
    font-weight: 700;
    color: #5e3bee;
    text-align: center; /* Żeby tekst ładnie wyglądał na środku na telefonie */
    padding: 20px;
}