<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{% block title %}Aplikacja dla Ministrantów{% endblock %} | Parafia XYZ</title>
    
    <meta name="description" content="{% block meta_desc %}Zarządzaj służbami, sprawdzaj ogłoszenia i śledź ranking ministrantów. System dla nowoczesnej parafii.{% endblock %}">
    <meta name="google-site-verification" content="nhiwChgufcNTntWjJNbdzFVGYl38uwJEKR_-1LiwD8o" />
    <meta name="robots" content="index, follow">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flash-container">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </div>
    {% block scripts %}{% endblock %}
</body>
</html>
