<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/password.css">
    <title>Restore Password</title>
</head>
<body>
    Jeżeli chcesz przywrócić swoje hasło, skontaktuj się z administratorem, 537 325 833 lub gregitdesign1@gmail.com
    W wiadomości musi być: NAZWA UŻYTKOWNIKA, I zdanie: Odzyskaj hasło.
    <footer>&copy All rights reserved, Greg 2026</footer>
</body>
</html>